<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="WARN">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%p] - %l - %m%n"/>
        </Console>
    </appenders>
    <loggers>
        <logger name="org.springframework" level="INFO">
        </logger>
        <logger name="org.mybatis" level="INFO">
        </logger>
        <root level="info">
            <appender-ref ref="Console"/>
        </root>
    </loggers>
</Configuration>